<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Railways</title>
</head>
<body>
    <h1>Railway reservation in django</h1>
    <table border = "1">
        <tr>
            <th>User Name</th>
            <th>Password</th>
        </tr>
        {% for getdata in logindetails %}
        <tr>
            <td>{{getdata.email}}</td>
            <td>{{getdata.password}}</td>
        </tr>
        {% endfor %}
    </table>
    {{details}}
</body>
</html>